.link { 
  font-size: 30px;
  color: blue;
}
.link:active {  /* tıklanınca */
  color: green;
}
.link:visited {
  color: red;
}
.link:hover { /* mouse üzerine gelince */
  color: yellow;
}
.list_item { 
  color: red;
  list-style-type: none;
  font-size: 30px;
}
/* .list_item:first-child {
  color: blue;
}
.list_item:last-child {
  color: green;
}
.list_item:nth-child(even) {
  background-color: rgb(228, 8, 12);
} */
.list_item:nth-child(odd) {
  color: rgb(44, 87, 204);
}
.list_item:nth-child(3) {
  color: rgb(63, 213, 13);
}

/* Pseudo Element */
.list_item:first-letter {
  color: blue;
  font-size: 50px;
}
.text::before { /* text'in başına ekleme yapar ve normal yazı gibi seçilemez. */
  content: "Ben Başa Eklendim!";
  font-size: 24px;
  color: red;
}
.text::after { /* text'in sonuna ekleme yapar ve normal yazı gibi seçilemez. */
  content: " Ben Sona Eklendim!";
  font-size: 24px;
  color: red;
}
